1. Read in all the patient data from the spreadsheets chapter (chapter 2) found in data > spreadsheets > all.csv
2. select the first_name, last_name, day, time, and temp_f columns.
3. filter the rows such that the person’s name is “Aniya Warner”
4. Save the filtered dataset into the output folder named aniya_warner_py.csv.

In [1]:
pwd

'C:\\Users\\Danie\\Desktop\\ds4biomed-learner'

In [2]:
# cd C:\\Users\\Danie\\Desktop\\ds4biomed-learner

In [3]:
import pandas as pd

In [9]:
all_pts = pd.read_csv("data/spreadsheets/all.csv")

In [14]:
filtered = all_pts.loc[all_pts["first_name"] == "Aniya", ["first_name", "last_name", "day", "time", "temp_f"]]

In [15]:
filtered.to_csv("output/aniya_warner_py.csv")

In [16]:
import pandas as pd

In [17]:
tumor_subset = pd.read_csv("data/tumor_filtered_py.csv")

In [21]:
tumor_size_0 = tumor_subset.loc[tumor_subset["Day"] == 0, "Size"]

In [22]:
type(tumor_size_0)

pandas.core.series.Series

In [23]:
tumor_size_0.mean()

51.5918918918919

In [24]:
(tumor_subset
 .loc[tumor_subset["Day"] == 0, "Size"]
 .mean()
)

51.5918918918919

In [26]:
tumor_subset_13 = tumor_subset.loc[tumor_subset["Day"] == 13]

In [27]:
(tumor_subset_13
 .loc[tumor_subset["Group"] == 1, "Size"]
 .mean()
)

1597.4

In [28]:
(tumor_subset_13
 .loc[tumor_subset["Group"] == 2, "Size"]
 .mean()
)

453.475

In [29]:
(tumor_subset_13
 .loc[tumor_subset["Group"] == 3, "Size"]
 .mean()
)

933.6600000000001

In [30]:
(tumor_subset_13
 .loc[tumor_subset["Group"] == 4, "Size"]
 .mean()
)

767.575

In [32]:
tumor_subset_13["Group"].unique()

array([1, 2, 3, 4], dtype=int64)

In [35]:
tumor_subset_13.groupby("Group")["Size"].mean()

Group
1    1597.400
2     453.475
3     933.660
4     767.575
Name: Size, dtype: float64

In [36]:
import numpy as np

In [38]:
tumor_subset_13.groupby("Group")["Size"].agg(avg_size = np.mean)

       avg_size
Group
1      1597.400
2       453.475
3       933.660
4       767.575

In [40]:
tumor_subset_13.groupby("Group").agg(avg_size = ("Size", np.mean))

       avg_size
Group
1      1597.400
2       453.475
3       933.660
4       767.575

In [44]:
(tumor_subset
 .groupby(["Group", "Day"])
 .agg(avg_size = ("Size", np.mean))
 .reset_index()
)

   Group  Day     avg_size
0      1    0    55.575000
1      1   13  1597.400000
2      2    0    51.810000
3      2   13   453.475000
4      3    0    48.620000
5      3   13   933.660000
6      4    0    51.111111
7      4   13   767.575000

In [50]:
(tumor_subset
 .groupby(["Group", "Day"])
 .agg(avg_size = ("Size", np.mean),
      std_size = ("Size", np.std),
      q33_size = ("Size", lambda x: np.quantile(x, q=0.33))
     )
 .reset_index()
)

   Group  Day     avg_size    std_size  q33_size
0      1    0    55.575000   12.850653    47.606
1      1   13  1597.400000  763.668099  1244.448
2      2    0    51.810000   10.604763    46.701
3      2   13   453.475000  286.858971   451.569
4      3    0    48.620000    7.304002    43.955
5      3   13   933.660000  509.875839   588.777
6      4    0    51.111111    8.635312    47.016
7      4   13   767.575000  314.075865   623.130

In [51]:
tumor_subset.describe()

       Unnamed: 0      Group          ID        Day         Size
count   60.000000  60.000000   60.000000  60.000000    60.000000
mean   274.150000   2.550000  260.250000   4.983333   401.945000
std    166.392819   1.064449  106.700059   6.373918   586.263062
min      0.000000   1.000000  101.000000   0.000000    39.500000
25%    113.500000   2.000000  201.750000   0.000000    46.800000
50%    282.500000   3.000000  302.000000   0.000000    59.900000
75%    401.000000   3.000000  309.250000  13.000000   596.825000
max    566.000000   4.000000  409.000000  13.000000  2342.600000